@media (max-width: 1200px) {
  .intro__title {
    font-size: 50px;
    line-height: 50px;
  }

  .intro__right {
    padding-top: 20px;
  }

.about__upper img,
.intro__right img {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .row {
    max-width: 720px;
  }

  .intro__right {
    padding-top: 50px;
  }

  .about__item img {
    margin-bottom: 15px;
  }

  .teachers-card:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }

  .courses-card__btn {
    padding-top: 21px;
    padding-right: 56px;
    padding-bottom: 21px;
    padding-left: 56px;
  }
}

@media (max-width: 767px) {
  .row {
    max-width: 525px;
  }

  .intro-wripper {
    padding-top: 77px;
  }

  .header-wripper {
    height: 133px;
  }

  .intro__left {
    padding-top: 0;
  }

  .intro__right {
    display: none;
  }

  .courses-card__content {
    min-height: 390px;
  }

  .courses-card__btn {
    padding-top: 21px;
    padding-right: 44.5px;
    padding-bottom: 21px;
    padding-left: 44.5px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .container {
    padding-right: 0;
    padding-left: 0;
  }

  .header-wripper {
    height: 80px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__nav {
    display: block;
    visibility: hidden;
    z-index: 10;
    position: absolute;
    top: -80px;
    right: 0;
    width: 100vw;
    padding-bottom: 0;
    overflow-y: hidden;
    text-transform: uppercase;
    background-color: var(--jaguar);
    transition: visibility .8s ease-in-out, transform .8s ease-in-out;
    transform: translateY(-100%);
  }

  .header__menu-list {
    width: 100%;
    height: 100vh;
    padding-bottom: 25vh;
  }

  .header__nav-active {
    visibility: visible;
    width: 100%;
    padding-top: 32px;
    overflow-x: hidden;
    text-transform: uppercase;
    transform: translateY(0);
  }

  .nav__item:last-child {
    display: block;
    line-height: 144px;
  }

  .nav__link {
    font-size: 18px;
    line-height: 18px;
  }

  .header__right {
    height: auto;
  }

  .section-title {
    font-size: 24px;
    line-height: 24px;
  }

  .intro-wripper {
    padding-top: 50px;
  }

  .intro__title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 30px;
  }

  .intro__left {
    padding-bottom: 5px;
  }

  .intro__descr {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 20.8px;
  }

  .intro__btn {
    padding-top: 21px;
    padding-right: 54px;
    padding-bottom: 21px;
    padding-left: 54px;
    font-size: 16px;
    line-height: 18.75px;
  }

  .about-wripper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .about__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .about__img img {
    display: none;
  }

  .about__item img {
    margin-bottom: 0;
  }

  .teachers-wripper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .teachers-card:not(:last-child) {
    margin-bottom: 30px;
  }

  .courses-wripper {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .courses-card:not(:last-child) {
    margin-bottom: 30px;
  }

  .courses-card__descr {
    margin-bottom: 91px;
  }

  .courses-card__btn {
    padding-top: 21px;
    padding-right: 56px;
    padding-bottom: 21px;
    padding-left: 56px;
  }

  .btn-burger {
    display: block !important;
    cursor: pointer;
  }
}